In [111]:
import pandas as pd
from datetime import timedelta

# Примерные входные данные (замените своими)
# df_investments: date, amount
df_investments = pd.DataFrame({
    'date': pd.date_range('2020-01-01', periods=36, freq='MS'),
    'amount': [1000]*36
})

# df_rates: date, rate (где rate - годовая ставка, например 0.06 для 6%)
df_rates = pd.DataFrame({
    'date': pd.date_range('2020-01-01', periods=36, freq='MS'),
    'rate': [0.10, 0.10, 0.10] * 12
    #'rate': [0.06, 0.05, 0.07] * 12
})

# Параметры
n = 1000  # минимальная сумма для открытия вклада
investment_duration = 12  # продолжительность вклада в месяцах

# Объединяем данные по датам
df = pd.merge(df_investments, df_rates, on='date', how='left')

# Рассчитаем доходность по вкладам
def calculate_income(df, min_sum, duration):
    total_income = []
    balance = 0  # текущий баланс для инвестирования
    start_dates = []

    for i, row in df.iterrows():
        balance += row['amount']
        if balance >= min_sum:
            # Открываем вклад
            start_date = row['date']
            end_date = start_date + pd.DateOffset(months=duration)
            deposit_rate = df[(df['date'] == start_date)]['rate'].mean()
            # deposit_rate = df[(df['date'] >= start_date) & (df['date'] < end_date)]['rate'].mean()
            print("deposit_rate", deposit_rate)
            
            if pd.notna(deposit_rate):
                income = balance * deposit_rate * (duration / 12)
                total_income.append({
                    'start_date': start_date,
                    'end_date': end_date,
                    'principal': balance,
                    'rate': deposit_rate,
                    'income': income
                })
            
            # Обнуляем баланс после открытия вклада
            balance = 0
    
    return pd.DataFrame(total_income)

# Вычисление доходности первичных вкладов
df_income = calculate_income(df, n, investment_duration)
print(df_income)

deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
deposit_rate 0.1
   start_date   end_date  principal  rate  income
0  2020-01-01 2021-01-01       1000   0.1   100.0
1  2020-02-01 2021-02-01       1000   0.1   100.0
2  2020-03-01 2021-03-01       1000   0.1   100.0
3  2020-04-01 2021-04-01       1000   0.1   100.0
4  2020-05-01 2021-05-01       1000   0.1   100.0
5  2020-06-01 2021-06-01       1000   0.1   100.0
6  2020-07-01 2021-07-01       1000   0.1   100.0
7  2020-08-01 2021-08-01       1000   0.1   100.0
8  2020-09-01 2021-09-01       1000   0.1   100.0
9  2020-10-01 2021-10-01       1000   0.1   100.0
10 2020-11-01 2021-11-01       1000   0.1   100.0
11 2020-12-01 2021-12-01       1000   0.1   100.0
12 2021-01-01 2022-01-01       1000   0.1   100.0
13 2021-02-01 2022-02-01       1000   0.1   100.0
14 2021-03-01 2022-03-01       1000   0.1   100.0
15 2021-04-01 2022-04-01       1000   0.1   100.0
16 2021-05-01 2022-05-01       1000   0.1   100.0
17 2021-06-01 2022-06-01       1000   0.1   100.0
18 2021-07-01 2022-07-01       1000   0.1   100.0
19 2021-08-01 2022-08-01       1000   0.1   100.0
20 2021-09-01 2022-09-01       1000   0.1   100.0
21 2021-10-01 2022-10-01       1000   0.1   100.0
22 2021-11-01 2022-11-01       1000   0.1   100.0
23 2021-12-01 2022-12-01       1000   0.1   100.0
24 2022-01-01 2023-01-01       1000   0.1   100.0
25 2022-02-01 2023-02-01       1000   0.1   100.0
26 2022-03-01 2023-03-01       1000   0.1   100.0
27 2022-04-01 2023-04-01       1000   0.1   100.0
28 2022-05-01 2023-05-01       1000   0.1   100.0
29 2022-06-01 2023-06-01       1000   0.1   100.0
30 2022-07-01 2023-07-01       1000   0.1   100.0
31 2022-08-01 2023-08-01       1000   0.1   100.0
32 2022-09-01 2023-09-01       1000   0.1   100.0
33 2022-10-01 2023-10-01       1000   0.1   100.0
34 2022-11-01 2023-11-01       1000   0.1   100.0
35 2022-12-01 2023-12-01       1000   0.1   100.0

In [112]:
max_date = df['date'].max() + pd.DateOffset(months=1)
max_date

Timestamp('2023-01-01 00:00:00')

In [113]:
from dateutil.relativedelta import relativedelta
from datetime import datetime

# Обработка первичных вкладов.
# Убираю периоды "будущей доходности".
# max_date = df['date'].max()
correct_income = []
for i, row in df_income.iterrows():
    if max_date < row["end_date"]:
        # n_month = relativedelta(max_date, )
        n_month = (max_date.year - row["start_date"].year) * 12 + (max_date.month - row["start_date"].month)
        row["income"] = n_month / 12 * row["income"]
        
        correct_income.append(row)
    else:
        correct_income.append(row)

In [114]:
df_income_correct = pd.DataFrame(correct_income)

In [115]:
df_income_correct

   start_date   end_date  principal  rate      income
0  2020-01-01 2021-01-01       1000   0.1  100.000000
1  2020-02-01 2021-02-01       1000   0.1  100.000000
2  2020-03-01 2021-03-01       1000   0.1  100.000000
3  2020-04-01 2021-04-01       1000   0.1  100.000000
4  2020-05-01 2021-05-01       1000   0.1  100.000000
5  2020-06-01 2021-06-01       1000   0.1  100.000000
6  2020-07-01 2021-07-01       1000   0.1  100.000000
7  2020-08-01 2021-08-01       1000   0.1  100.000000
8  2020-09-01 2021-09-01       1000   0.1  100.000000
9  2020-10-01 2021-10-01       1000   0.1  100.000000
10 2020-11-01 2021-11-01       1000   0.1  100.000000
11 2020-12-01 2021-12-01       1000   0.1  100.000000
12 2021-01-01 2022-01-01       1000   0.1  100.000000
13 2021-02-01 2022-02-01       1000   0.1  100.000000
14 2021-03-01 2022-03-01       1000   0.1  100.000000
15 2021-04-01 2022-04-01       1000   0.1  100.000000
16 2021-05-01 2022-05-01       1000   0.1  100.000000
17 2021-06-01 2022-06-01       1000   0.1  100.000000
18 2021-07-01 2022-07-01       1000   0.1  100.000000
19 2021-08-01 2022-08-01       1000   0.1  100.000000
20 2021-09-01 2022-09-01       1000   0.1  100.000000
21 2021-10-01 2022-10-01       1000   0.1  100.000000
22 2021-11-01 2022-11-01       1000   0.1  100.000000
23 2021-12-01 2022-12-01       1000   0.1  100.000000
24 2022-01-01 2023-01-01       1000   0.1  100.000000
25 2022-02-01 2023-02-01       1000   0.1   91.666667
26 2022-03-01 2023-03-01       1000   0.1   83.333333
27 2022-04-01 2023-04-01       1000   0.1   75.000000
28 2022-05-01 2023-05-01       1000   0.1   66.666667
29 2022-06-01 2023-06-01       1000   0.1   58.333333
30 2022-07-01 2023-07-01       1000   0.1   50.000000
31 2022-08-01 2023-08-01       1000   0.1   41.666667
32 2022-09-01 2023-09-01       1000   0.1   33.333333
33 2022-10-01 2023-10-01       1000   0.1   25.000000
34 2022-11-01 2023-11-01       1000   0.1   16.666667
35 2022-12-01 2023-12-01       1000   0.1    8.333333

# Расчёт повторных инвестиций.

In [116]:
income_new_all = []
for i, row in df_income_correct.iterrows():
    #row["end_date"]
    income_all_reinvest = []
    end_date_iter = row['end_date']
    total_money = row["principal"] + row["income"]
    while True:
        if end_date_iter < max_date:
            n_month_for_end = (max_date.year - end_date_iter.year) * 12 + (max_date.month - end_date_iter.month)
            n_month_deposit = min([12, n_month_for_end]) # Сколько месяцев вклада произошло.
            rate_in_date = df_rates.loc[df_rates.date == end_date_iter, "rate"].mean()
            new_income = (rate_in_date * total_money) * (n_month_deposit / 12)
            
            total_money += new_income
            end_date_iter = end_date_iter + pd.DateOffset(months=12)
            income_all_reinvest.append(new_income)
        else:
            break    
    
    income_new_all.append(income_all_reinvest)
    # break

In [117]:
df_income_new_all = pd.DataFrame(income_new_all)

In [118]:
i = 2
for col in list(df_income_new_all):
     col_name = "income_" + str(i)
     i += 1
     df_income_correct[col_name] = df_income_new_all[col]

In [119]:
df_income_correct[['principal', 'income', 'income_2', 'income_3']].sum().sum()

41871.5

In [120]:
df_income_correct

,start_date,end_date,principal,rate,income,income_2,income_3,income_4
0,2020-01-01,2021-01-01,1000,0.1,100.000000,110.000000,121.000000,NaN
1,2020-02-01,2021-02-01,1000,0.1,100.000000,110.000000,110.916667,NaN
2,2020-03-01,2021-03-01,1000,0.1,100.000000,110.000000,100.833333,NaN
3,2020-04-01,2021-04-01,1000,0.1,100.000000,110.000000,90.750000,NaN
4,2020-05-01,2021-05-01,1000,0.1,100.000000,110.000000,80.666667,NaN
5,2020-06-01,2021-06-01,1000,0.1,100.000000,110.000000,70.583333,NaN
6,2020-07-01,2021-07-01,1000,0.1,100.000000,110.000000,60.500000,NaN
7,2020-08-01,2021-08-01,1000,0.1,100.000000,110.000000,50.416667,NaN
8,2020-09-01,2021-09-01,1000,0.1,100.000000,110.000000,40.333333,NaN
9,2020-10-01,2021-10-01,1000,0.1,100.000000,110.000000,30.250000,NaN
10,2020-11-01,2021-11-01,1000,0.1,100.000000,110.000000,20.166667,NaN
11,2020-12-01,2021-12-01,1000,0.1,100.000000,110.000000,10.083333,NaN
12,2021-01-01,2022-01-01,1000,0.1,100.000000,110.000000,NaN,NaN
13,2021-02-01,2022-02-01,1000,0.1,100.000000,100.833333,NaN,NaN
14,2021-03-01,2022-03-01,1000,0.1,100.000000,91.666667,NaN,NaN
15,2021-04-01,2022-04-01,1000,0.1,100.000000,82.500000,NaN,NaN
16,2021-05-01,2022-05-01,1000,0.1,100.000000,73.333333,NaN,NaN
17,2021-06-01,2022-06-01,1000,0.1,100.000000,64.166667,NaN,NaN
18,2021-07-01,2022-07-01,1000,0.1,100.000000,55.000000,NaN,NaN
19,2021-08-01,2022-08-01,1000,0.1,100.000000,45.833333,NaN,NaN
20,2021-09-01,2022-09-01,1000,0.1,100.000000,36.666667,NaN,NaN
21,2021-10-01,2022-10-01,1000,0.1,100.000000,27.500000,NaN,NaN
22,2021-11-01,2022-11-01,1000,0.1,100.000000,18.333333,NaN,NaN
23,2021-12-01,2022-12-01,1000,0.1,100.000000,9.166667,NaN,NaN
24,2022-01-01,2023-01-01,1000,0.1,100.000000,NaN,NaN,NaN
25,2022-02-01,2023-02-01,1000,0.1,91.666667,NaN,NaN,NaN
26,2022-03-01,2023-03-01,1000,0.1,83.333333,NaN,NaN,NaN
27,2022-04-01,2023-04-01,1000,0.1,75.000000,NaN,NaN,NaN
28,2022-05-01,2023-05-01,1000,0.1,66.666667,NaN,NaN,NaN
29,2022-06-01,2023-06-01,1000,0.1,58.333333,NaN,NaN,NaN
30,2022-07-01,2023-07-01,1000,0.1,50.000000,NaN,NaN,NaN
31,2022-08-01,2023-08-01,1000,0.1,41.666667,NaN,NaN,NaN
32,2022-09-01,2023-09-01,1000,0.1,33.333333,NaN,NaN,NaN
33,2022-10-01,2023-10-01,1000,0.1,25.000000,NaN,NaN,NaN
34,2022-11-01,2023-11-01,1000,0.1,16.666667,NaN,NaN,NaN
35,2022-12-01,2023-12-01,1000,0.1,8.333333,NaN,NaN,NaN

In [121]:
df_income[["principal", "income"]].sum().sum()

39600.0

In [122]:
max_date

Timestamp('2023-01-01 00:00:00')