# prepare data

In [111]:
import pandas as pd
from datetime import timedelta

### Пример данных

In [112]:
# Примерные входные данные (замените своими)
# df_investments: date, amount
df_investments = pd.DataFrame({
    'date': pd.date_range('2020-01-01', periods=36, freq='MS'),
    'amount': [150]*36
})

# df_rates: date, rate (где rate - годовая ставка, например 0.06 для 6%)
df_rates = pd.DataFrame({
    'date': pd.date_range('2020-01-01', periods=36, freq='MS'),
    'rate': [0.10, 0.10, 0.10] * 12
    #'rate': [0.06, 0.05, 0.07] * 12
})

In [113]:
df_investments

         date  amount
0  2020-01-01     150
1  2020-02-01     150
2  2020-03-01     150
3  2020-04-01     150
4  2020-05-01     150
5  2020-06-01     150
6  2020-07-01     150
7  2020-08-01     150
8  2020-09-01     150
9  2020-10-01     150
10 2020-11-01     150
11 2020-12-01     150
12 2021-01-01     150
13 2021-02-01     150
14 2021-03-01     150
15 2021-04-01     150
16 2021-05-01     150
17 2021-06-01     150
18 2021-07-01     150
19 2021-08-01     150
20 2021-09-01     150
21 2021-10-01     150
22 2021-11-01     150
23 2021-12-01     150
24 2022-01-01     150
25 2022-02-01     150
26 2022-03-01     150
27 2022-04-01     150
28 2022-05-01     150
29 2022-06-01     150
30 2022-07-01     150
31 2022-08-01     150
32 2022-09-01     150
33 2022-10-01     150
34 2022-11-01     150
35 2022-12-01     150

### Чтение данных

In [114]:
# df_investments.to_excel('investments.xlsx')

df_rates = pd.read_excel("Процентная ставка вклады 2010-2024.xlsx")
df_rates = df_rates.rename(columns={'Декада':'date', "Ставка, %":"rate"})

df_investments = pd.read_excel("Вклады.xlsx")


df_rates['rate'] = df_rates['rate'] * 0.01

### Глобальные настройки.

In [115]:
# Параметры
n = 45000  # минимальная сумма для открытия вклада
investment_duration = 12  # продолжительность вклада в месяцах

# Объединяем данные по датам
df = pd.merge(df_investments, df_rates, on='date', how='left')

In [116]:
if df.isna().sum().sum() != 0:
    raise ValueError("Есть пропуск. Проверить данные.")

# Обработка вкладов, первый собранные вклады.

In [117]:
# Рассчитаем доходность по вкладам
def calculate_income(df, min_sum, duration):
    total_income = []
    balance = 0  # текущий баланс для инвестирования
    start_dates = []

    for i, row in df.iterrows():
        balance += row['amount']
        if balance >= min_sum:
            # Открываем вклад
            start_date = row['date']
            end_date = start_date + pd.DateOffset(months=duration)
            deposit_rate = df[(df['date'] == start_date)]['rate'].mean()
            # deposit_rate = df[(df['date'] >= start_date) & (df['date'] < end_date)]['rate'].mean()
            print("deposit_rate", deposit_rate)
            
            if pd.notna(deposit_rate):
                income = balance * deposit_rate * (duration / 12)
                total_income.append({
                    'start_date': start_date,
                    'end_date': end_date,
                    'principal': balance,
                    'rate': deposit_rate,
                    'income': income
                })
            
            # Обнуляем баланс после открытия вклада
            balance = 0
        elif (i == (df.shape[0] - 1)): # Последняя запись. 
            deposit_rate = df[(df['date'] == start_date)]['rate'].mean()
            total_income.append({
                'start_date': start_date,
                'end_date': end_date,
                'principal': balance,
                'rate': deposit_rate,
                'income': 0
            })
    
    return pd.DataFrame(total_income)

# Вычисление доходности первичных вкладов
df_income = calculate_income(df, n, investment_duration)
print(df_income)

deposit_rate 0.09514
deposit_rate 0.09538
deposit_rate 0.09936
deposit_rate 0.094
deposit_rate 0.0965
deposit_rate 0.0994
deposit_rate 0.0926
deposit_rate 0.08664999999999999
deposit_rate 0.08310000000000001
deposit_rate 0.08615
deposit_rate 0.09005
deposit_rate 0.09502000000000001
deposit_rate 0.15325
deposit_rate 0.13175
deposit_rate 0.11042
deposit_rate 0.10352
deposit_rate 0.09999000000000001
deposit_rate 0.09648999999999999
deposit_rate 0.0913
deposit_rate 0.0866
deposit_rate 0.084
deposit_rate 0.07798000000000001
deposit_rate 0.07363
deposit_rate 0.07237
deposit_rate 0.07245
deposit_rate 0.064
deposit_rate 0.06394
deposit_rate 0.06798
deposit_rate 0.07529
deposit_rate 0.07535
deposit_rate 0.07135
deposit_rate 0.06478
deposit_rate 0.059269999999999996
deposit_rate 0.05427
deposit_rate 0.04629
deposit_rate 0.04326
deposit_rate 0.04486
deposit_rate 0.046340000000000006
deposit_rate 0.053
deposit_rate 0.06433
deposit_rate 0.07738
deposit_rate 0.16579999999999998
deposit_rate 0.07645
deposit_rate 0.06669
deposit_rate 0.08130000000000001
deposit_rate 0.07676000000000001
deposit_rate 0.07827
deposit_rate 0.1018
deposit_rate 0.14793
deposit_rate 0.14832
deposit_rate 0.16574000000000003
deposit_rate 0.1978
   start_date   end_date  principal     rate   income
0  2012-01-01 2013-01-01     100000  0.09514  9514.00
1  2012-04-01 2013-04-01      45000  0.09538  4292.10
2  2012-07-01 2013-07-01      45000  0.09936  4471.20
3  2012-10-01 2013-10-01      45000  0.09400  4230.00
4  2013-01-01 2014-01-01      45000  0.09650  4342.50
5  2013-04-01 2014-04-01      45000  0.09940  4473.00
6  2013-07-01 2014-07-01      45000  0.09260  4167.00
7  2013-10-01 2014-10-01      45000  0.08665  3899.25
8  2014-01-01 2015-01-01      45000  0.08310  3739.50
9  2014-04-01 2015-04-01      45000  0.08615  3876.75
10 2014-07-01 2015-07-01      45000  0.09005  4052.25
11 2014-10-01 2015-10-01      45000  0.09502  4275.90
12 2015-01-01 2016-01-01      45000  0.15325  6896.25
13 2015-04-01 2016-04-01      45000  0.13175  5928.75
14 2015-07-01 2016-07-01      45000  0.11042  4968.90
15 2015-10-01 2016-10-01      45000  0.10352  4658.40
16 2016-01-01 2017-01-01      45000  0.09999  4499.55
17 2016-04-01 2017-04-01      45000  0.09649  4342.05
18 2016-07-01 2017-07-01      45000  0.09130  4108.50
19 2016-10-01 2017-10-01      45000  0.08660  3897.00
20 2017-01-01 2018-01-01      45000  0.08400  3780.00
21 2017-04-01 2018-04-01      45000  0.07798  3509.10
22 2017-07-01 2018-07-01      45000  0.07363  3313.35
23 2017-10-01 2018-10-01      45000  0.07237  3256.65
24 2018-01-01 2019-01-01      45000  0.07245  3260.25
25 2018-04-01 2019-04-01      45000  0.06400  2880.00
26 2018-07-01 2019-07-01      45000  0.06394  2877.30
27 2018-10-01 2019-10-01      45000  0.06798  3059.10
28 2019-01-01 2020-01-01      45000  0.07529  3388.05
29 2019-04-01 2020-04-01      45000  0.07535  3390.75
30 2019-07-01 2020-07-01      45000  0.07135  3210.75
31 2019-10-01 2020-10-01      45000  0.06478  2915.10
32 2020-01-01 2021-01-01      45000  0.05927  2667.15
33 2020-04-01 2021-04-01      45000  0.05427  2442.15
34 2020-07-01 2021-07-01      45000  0.04629  2083.05
35 2020-10-01 2021-10-01      45000  0.04326  1946.70
36 2021-01-01 2022-01-01      45000  0.04486  2018.70
37 2021-04-01 2022-04-01      45000  0.04634  2085.30
38 2021-07-01 2022-07-01      45000  0.05300  2385.00
39 2021-10-01 2022-10-01      45000  0.06433  2894.85
40 2022-01-01 2023-01-01      45000  0.07738  3482.10
41 2022-04-01 2023-04-01      45000  0.16580  7461.00
42 2022-07-01 2023-07-01      45000  0.07645  3440.25
43 2022-10-01 2023-10-01      45000  0.06669  3001.05
44 2023-01-01 2024-01-01      45000  0.08130  3658.50
45 2023-04-01 2024-04-01      45000  0.07676  3454.20
46 2023-07-01 2024-07-01      45000  0.07827  3522.15
47 2023-10-01 2024-10-01      45000  0.10180  4581.00
48 2024-01-01 2025-01-01      45000  0.14793  6656.85
49 2024-04-01 2025-04-01      45000  0.14832  6674.40
50 2024-07-01 2025-07-01      45000  0.16574  7458.30
51 2024-10-01 2025-10-01      45000  0.19780  8901.00
52 2024-10-01 2025-10-01      15000  0.19780     0.00

In [118]:
max_date = df['date'].max() + pd.DateOffset(months=1)
max_date

Timestamp('2024-12-01 00:00:00')

In [119]:
from dateutil.relativedelta import relativedelta
from datetime import datetime

# Обработка первичных вкладов.
# Убираю периоды "будущей доходности".
# max_date = df['date'].max()
correct_income = []
for i, row in df_income.iterrows():
    if max_date < row["end_date"]:
        # n_month = relativedelta(max_date, )
        n_month = (max_date.year - row["start_date"].year) * 12 + (max_date.month - row["start_date"].month)
        row["income"] = n_month / 12 * row["income"]
        row["end_date"] = max_date
        
        correct_income.append(row)
    else:
        correct_income.append(row)

In [120]:
max_date, row["end_date"]

(Timestamp('2024-12-01 00:00:00'), Timestamp('2024-12-01 00:00:00'))

In [121]:
df_income_correct = pd.DataFrame(correct_income)

In [122]:
df_income_correct

   start_date   end_date  principal     rate     income
0  2012-01-01 2013-01-01     100000  0.09514  9514.0000
1  2012-04-01 2013-04-01      45000  0.09538  4292.1000
2  2012-07-01 2013-07-01      45000  0.09936  4471.2000
3  2012-10-01 2013-10-01      45000  0.09400  4230.0000
4  2013-01-01 2014-01-01      45000  0.09650  4342.5000
5  2013-04-01 2014-04-01      45000  0.09940  4473.0000
6  2013-07-01 2014-07-01      45000  0.09260  4167.0000
7  2013-10-01 2014-10-01      45000  0.08665  3899.2500
8  2014-01-01 2015-01-01      45000  0.08310  3739.5000
9  2014-04-01 2015-04-01      45000  0.08615  3876.7500
10 2014-07-01 2015-07-01      45000  0.09005  4052.2500
11 2014-10-01 2015-10-01      45000  0.09502  4275.9000
12 2015-01-01 2016-01-01      45000  0.15325  6896.2500
13 2015-04-01 2016-04-01      45000  0.13175  5928.7500
14 2015-07-01 2016-07-01      45000  0.11042  4968.9000
15 2015-10-01 2016-10-01      45000  0.10352  4658.4000
16 2016-01-01 2017-01-01      45000  0.09999  4499.5500
17 2016-04-01 2017-04-01      45000  0.09649  4342.0500
18 2016-07-01 2017-07-01      45000  0.09130  4108.5000
19 2016-10-01 2017-10-01      45000  0.08660  3897.0000
20 2017-01-01 2018-01-01      45000  0.08400  3780.0000
21 2017-04-01 2018-04-01      45000  0.07798  3509.1000
22 2017-07-01 2018-07-01      45000  0.07363  3313.3500
23 2017-10-01 2018-10-01      45000  0.07237  3256.6500
24 2018-01-01 2019-01-01      45000  0.07245  3260.2500
25 2018-04-01 2019-04-01      45000  0.06400  2880.0000
26 2018-07-01 2019-07-01      45000  0.06394  2877.3000
27 2018-10-01 2019-10-01      45000  0.06798  3059.1000
28 2019-01-01 2020-01-01      45000  0.07529  3388.0500
29 2019-04-01 2020-04-01      45000  0.07535  3390.7500
30 2019-07-01 2020-07-01      45000  0.07135  3210.7500
31 2019-10-01 2020-10-01      45000  0.06478  2915.1000
32 2020-01-01 2021-01-01      45000  0.05927  2667.1500
33 2020-04-01 2021-04-01      45000  0.05427  2442.1500
34 2020-07-01 2021-07-01      45000  0.04629  2083.0500
35 2020-10-01 2021-10-01      45000  0.04326  1946.7000
36 2021-01-01 2022-01-01      45000  0.04486  2018.7000
37 2021-04-01 2022-04-01      45000  0.04634  2085.3000
38 2021-07-01 2022-07-01      45000  0.05300  2385.0000
39 2021-10-01 2022-10-01      45000  0.06433  2894.8500
40 2022-01-01 2023-01-01      45000  0.07738  3482.1000
41 2022-04-01 2023-04-01      45000  0.16580  7461.0000
42 2022-07-01 2023-07-01      45000  0.07645  3440.2500
43 2022-10-01 2023-10-01      45000  0.06669  3001.0500
44 2023-01-01 2024-01-01      45000  0.08130  3658.5000
45 2023-04-01 2024-04-01      45000  0.07676  3454.2000
46 2023-07-01 2024-07-01      45000  0.07827  3522.1500
47 2023-10-01 2024-10-01      45000  0.10180  4581.0000
48 2024-01-01 2024-12-01      45000  0.14793  6102.1125
49 2024-04-01 2024-12-01      45000  0.14832  4449.6000
50 2024-07-01 2024-12-01      45000  0.16574  3107.6250
51 2024-10-01 2024-12-01      45000  0.19780  1483.5000
52 2024-10-01 2024-12-01      15000  0.19780     0.0000

# Расчёт повторных инвестиций.

In [123]:
income_new_all = []
income_calculate = []
for i, row in df_income_correct.iterrows():
    #row["end_date"]
    income_all_reinvest = []
    end_date_iter = row['end_date']
    total_money = row["principal"] + row["income"]
    while True:
        if end_date_iter < max_date:
            n_month_for_end = (max_date.year - end_date_iter.year) * 12 + (max_date.month - end_date_iter.month)
            n_month_deposit = min([12, n_month_for_end]) # Сколько месяцев вклада произошло.
            rate_in_date = df_rates.loc[df_rates.date == end_date_iter, "rate"].mean()
            new_income = (rate_in_date * total_money) * (n_month_deposit / 12)
            
            total_money += new_income
            end_date_iter = end_date_iter + pd.DateOffset(months=12)
            income_all_reinvest.append(new_income)
            income_calculate.append([row["start_date"], row['end_date'], row["principal"], rate_in_date, total_money, (n_month_deposit / 12)])
        else:
            break    
    
    income_new_all.append(income_all_reinvest)
    # break

In [124]:
income_new_all = []
income_calculate = []
for i, row in df_income_correct.iterrows():
    #row["end_date"]
    income_all_reinvest = []
    end_date_iter = row['end_date']
    total_money = row["principal"] + row["income"]
    while True:
        if end_date_iter < max_date:
            n_month_for_end = (max_date.year - end_date_iter.year) * 12 + (max_date.month - end_date_iter.month)
            n_month_deposit = min([12, n_month_for_end]) # Сколько месяцев вклада произошло.
            rate_in_date = df_rates.loc[df_rates.date == end_date_iter, "rate"].mean()
            new_income = (rate_in_date * total_money) * (n_month_deposit / 12)
            
            total_money += new_income
            end_date_iter = end_date_iter + pd.DateOffset(months=12)
            income_all_reinvest.append(new_income)
            income_calculate.append([row["start_date"], row['end_date'], row["principal"], rate_in_date, total_money, (n_month_deposit / 12)])
        else:
            break    
    
    income_new_all.append(income_all_reinvest)
    # break

# Сумма за каждые месяцы

In [125]:
income_new_all_month = []
income_calculate_month = []
for i, row in df_income_correct.iterrows():
    #row["end_date"]
    income_all_reinvest = []
    end_date_iter = row['start_date']
    total_money = row["principal"] # + row["income"]
    
    if row["principal"] < n:
        continue
    
    while True:
        if end_date_iter < max_date:
            n_month_for_end = (max_date.year - end_date_iter.year) * 12 + (max_date.month - end_date_iter.month)
            n_month_deposit = min([12, n_month_for_end]) # Сколько месяцев вклада произошло.
            rate_in_date = df_rates.loc[df_rates.date == end_date_iter, "rate"].mean()
            new_income = (rate_in_date * total_money) * (n_month_deposit / 12)
            new_income_month = new_income / n_month_deposit
            
            for id_month in range(1, n_month_deposit+1):
                end_date_iter_month = end_date_iter + pd.DateOffset(months=id_month)
                
                income_calculate_month.append([row["start_date"], row['end_date'], end_date_iter, end_date_iter_month, row["principal"], rate_in_date, total_money, (n_month_deposit / 12), new_income, total_money, new_income_month])
            
            total_money += new_income
            end_date_iter = end_date_iter + pd.DateOffset(months=12)
            income_all_reinvest.append(new_income)

        else:
            break    
    
    income_new_all_month.append(income_all_reinvest)
    # break

In [126]:
columns = ["start_date", "end_date", "end_date_iter", "end_date_iter_month", "principal", "rate_in_date", "total_money", "cnt_month_dep", "new_income", "total_money", "new_income_month"]

df_income_month = pd.DataFrame(income_calculate_month, columns=columns)

In [128]:
df_income_month.to_excel('df_income_month.xlsx')

In [ ]:
df_income_month.groupby("end_date_iter_month").agg({"new_income":"sum"})

In [ ]:
df_income_new_all = pd.DataFrame(income_new_all)

In [ ]:
df_income_calculate = pd.DataFrame(income_calculate)
df_income_calculate

In [ ]:
i = 2
for col in list(df_income_new_all):
     col_name = "income_" + str(i)
     i += 1
     df_income_correct[col_name] = df_income_new_all[col]

In [ ]:
df_income_correct[['principal', 'income', 'income_2', 'income_3']].sum().sum()

In [ ]:
df_income_correct

In [ ]:
df_income_correct.to_excel("Итоги прибылей.xlsx")

In [ ]:
df_income[["principal", "income"]].sum().sum()

In [ ]:
df_investments['amount'].sum()

In [ ]:
# Ошибки
# Сумма вкладов. 
# Исправить дату окончания.