# prepare data

In [43]:
import pandas as pd
from datetime import timedelta

### Пример данных

In [44]:
# Примерные входные данные (замените своими)
# df_investments: date, amount
df_investments = pd.DataFrame({
    'date': pd.date_range('2020-01-01', periods=36, freq='MS'),
    'amount': [150]*36
})

# df_rates: date, rate (где rate - годовая ставка, например 0.06 для 6%)
df_rates = pd.DataFrame({
    'date': pd.date_range('2020-01-01', periods=36, freq='MS'),
    'rate': [0.10, 0.10, 0.10] * 12
    #'rate': [0.06, 0.05, 0.07] * 12
})

In [45]:
df_investments

         date  amount
0  2020-01-01     150
1  2020-02-01     150
2  2020-03-01     150
3  2020-04-01     150
4  2020-05-01     150
5  2020-06-01     150
6  2020-07-01     150
7  2020-08-01     150
8  2020-09-01     150
9  2020-10-01     150
10 2020-11-01     150
11 2020-12-01     150
12 2021-01-01     150
13 2021-02-01     150
14 2021-03-01     150
15 2021-04-01     150
16 2021-05-01     150
17 2021-06-01     150
18 2021-07-01     150
19 2021-08-01     150
20 2021-09-01     150
21 2021-10-01     150
22 2021-11-01     150
23 2021-12-01     150
24 2022-01-01     150
25 2022-02-01     150
26 2022-03-01     150
27 2022-04-01     150
28 2022-05-01     150
29 2022-06-01     150
30 2022-07-01     150
31 2022-08-01     150
32 2022-09-01     150
33 2022-10-01     150
34 2022-11-01     150
35 2022-12-01     150

### Чтение данных

In [46]:
# df_investments.to_excel('investments.xlsx')

df_rates = pd.read_excel("Процентная ставка вклады 2010-2024.xlsx")
df_rates = df_rates.rename(columns={'Декада':'date', "Ставка, %":"rate"})

df_investments = pd.read_excel("Вклады.xlsx")


df_rates['rate'] = df_rates['rate'] * 0.01

### Глобальные настройки.

In [47]:
# Параметры
n = 45000  # минимальная сумма для открытия вклада
investment_duration = 12  # продолжительность вклада в месяцах

# Объединяем данные по датам
df = pd.merge(df_investments, df_rates, on='date', how='left')

In [48]:
if df.isna().sum().sum() != 0:
    raise ValueError("Есть пропуск. Проверить данные.")

# Обработка вкладов, первый собранные вклады.

In [49]:
# Рассчитаем доходность по вкладам
def calculate_income(df, min_sum, duration):
    total_income = []
    balance = 0  # текущий баланс для инвестирования
    start_dates = []

    for i, row in df.iterrows():
        balance += row['amount']
        if balance >= min_sum:
            # Открываем вклад
            start_date = row['date']
            end_date = start_date + pd.DateOffset(months=duration)
            deposit_rate = df[(df['date'] == start_date)]['rate'].mean()
            # deposit_rate = df[(df['date'] >= start_date) & (df['date'] < end_date)]['rate'].mean()
            print("deposit_rate", deposit_rate)
            
            if pd.notna(deposit_rate):
                income = balance * deposit_rate * (duration / 12)
                total_income.append({
                    'start_date': start_date,
                    'end_date': end_date,
                    'principal': balance,
                    'rate': deposit_rate,
                    'income': income
                })
            
            # Обнуляем баланс после открытия вклада
            balance = 0
    
    return pd.DataFrame(total_income)

# Вычисление доходности первичных вкладов
df_income = calculate_income(df, n, investment_duration)
print(df_income)

deposit_rate 0.09514
deposit_rate 0.09538
deposit_rate 0.09936
deposit_rate 0.094
deposit_rate 0.0965
deposit_rate 0.0994
deposit_rate 0.0926
deposit_rate 0.08664999999999999
deposit_rate 0.08310000000000001
deposit_rate 0.08615
deposit_rate 0.09005
deposit_rate 0.09502000000000001
deposit_rate 0.15325
deposit_rate 0.13175
deposit_rate 0.11042
deposit_rate 0.10352
deposit_rate 0.09999000000000001
deposit_rate 0.09648999999999999
deposit_rate 0.0913
deposit_rate 0.0866
deposit_rate 0.084
deposit_rate 0.07798000000000001
deposit_rate 0.07363
deposit_rate 0.07237
deposit_rate 0.07245
deposit_rate 0.064
deposit_rate 0.06394
deposit_rate 0.06798
deposit_rate 0.07529
deposit_rate 0.07535
deposit_rate 0.07135
deposit_rate 0.06478
deposit_rate 0.059269999999999996
deposit_rate 0.05427
deposit_rate 0.04629
deposit_rate 0.04326
deposit_rate 0.04486
deposit_rate 0.046340000000000006
deposit_rate 0.053
deposit_rate 0.06433
deposit_rate 0.07738
deposit_rate 0.16579999999999998
deposit_rate 0.07645
deposit_rate 0.06669
deposit_rate 0.08130000000000001
deposit_rate 0.07676000000000001
deposit_rate 0.07827
deposit_rate 0.1018
deposit_rate 0.14793
deposit_rate 0.14832
deposit_rate 0.16574000000000003
deposit_rate 0.17633
deposit_rate 0.1978
deposit_rate 0.20905
   start_date   end_date  principal     rate    income
0  2012-01-01 2013-01-01     100000  0.09514   9514.00
1  2012-04-01 2013-04-01      45000  0.09538   4292.10
2  2012-07-01 2013-07-01      45000  0.09936   4471.20
3  2012-10-01 2013-10-01      45000  0.09400   4230.00
4  2013-01-01 2014-01-01      45000  0.09650   4342.50
5  2013-04-01 2014-04-01      45000  0.09940   4473.00
6  2013-07-01 2014-07-01      45000  0.09260   4167.00
7  2013-10-01 2014-10-01      45000  0.08665   3899.25
8  2014-01-01 2015-01-01      45000  0.08310   3739.50
9  2014-04-01 2015-04-01      45000  0.08615   3876.75
10 2014-07-01 2015-07-01      45000  0.09005   4052.25
11 2014-10-01 2015-10-01      45000  0.09502   4275.90
12 2015-01-01 2016-01-01      45000  0.15325   6896.25
13 2015-04-01 2016-04-01      45000  0.13175   5928.75
14 2015-07-01 2016-07-01      45000  0.11042   4968.90
15 2015-10-01 2016-10-01      45000  0.10352   4658.40
16 2016-01-01 2017-01-01      45000  0.09999   4499.55
17 2016-04-01 2017-04-01      45000  0.09649   4342.05
18 2016-07-01 2017-07-01      45000  0.09130   4108.50
19 2016-10-01 2017-10-01      45000  0.08660   3897.00
20 2017-01-01 2018-01-01      45000  0.08400   3780.00
21 2017-04-01 2018-04-01      45000  0.07798   3509.10
22 2017-07-01 2018-07-01      45000  0.07363   3313.35
23 2017-10-01 2018-10-01      45000  0.07237   3256.65
24 2018-01-01 2019-01-01      45000  0.07245   3260.25
25 2018-04-01 2019-04-01      45000  0.06400   2880.00
26 2018-07-01 2019-07-01      45000  0.06394   2877.30
27 2018-10-01 2019-10-01      45000  0.06798   3059.10
28 2019-01-01 2020-01-01      45000  0.07529   3388.05
29 2019-04-01 2020-04-01      45000  0.07535   3390.75
30 2019-07-01 2020-07-01      45000  0.07135   3210.75
31 2019-10-01 2020-10-01      45000  0.06478   2915.10
32 2020-01-01 2021-01-01      45000  0.05927   2667.15
33 2020-04-01 2021-04-01      45000  0.05427   2442.15
34 2020-07-01 2021-07-01      45000  0.04629   2083.05
35 2020-10-01 2021-10-01      45000  0.04326   1946.70
36 2021-01-01 2022-01-01      45000  0.04486   2018.70
37 2021-04-01 2022-04-01      45000  0.04634   2085.30
38 2021-07-01 2022-07-01      45000  0.05300   2385.00
39 2021-10-01 2022-10-01      45000  0.06433   2894.85
40 2022-01-01 2023-01-01      45000  0.07738   3482.10
41 2022-04-01 2023-04-01      45000  0.16580   7461.00
42 2022-07-01 2023-07-01      45000  0.07645   3440.25
43 2022-10-01 2023-10-01      45000  0.06669   3001.05
44 2023-01-01 2024-01-01      45000  0.08130   3658.50
45 2023-04-01 2024-04-01      45000  0.07676   3454.20
46 2023-07-01 2024-07-01      45000  0.07827   3522.15
47 2023-10-01 2024-10-01      45000  0.10180   4581.00
48 2024-01-01 2025-01-01      45000  0.14793   6656.85
49 2024-04-01 2025-04-01      45000  0.14832   6674.40
50 2024-07-01 2025-07-01      45000  0.16574   7458.30
51 2024-09-01 2025-09-01      60000  0.17633  10579.80
52 2024-10-01 2025-10-01      45000  0.19780   8901.00
53 2024-11-01 2025-11-01      45000  0.20905   9407.25

In [50]:
max_date = df['date'].max() + pd.DateOffset(months=1)
max_date

Timestamp('2024-12-01 00:00:00')

In [51]:
from dateutil.relativedelta import relativedelta
from datetime import datetime

# Обработка первичных вкладов.
# Убираю периоды "будущей доходности".
# max_date = df['date'].max()
correct_income = []
for i, row in df_income.iterrows():
    if max_date < row["end_date"]:
        # n_month = relativedelta(max_date, )
        n_month = (max_date.year - row["start_date"].year) * 12 + (max_date.month - row["start_date"].month)
        row["income"] = n_month / 12 * row["income"]
        row["end_date"] = max_date
        
        correct_income.append(row)
    else:
        correct_income.append(row)

In [52]:
max_date, row["end_date"]

(Timestamp('2024-12-01 00:00:00'), Timestamp('2024-12-01 00:00:00'))

In [53]:
df_income_correct = pd.DataFrame(correct_income)

In [54]:
df_income_correct

   start_date   end_date  principal     rate     income
0  2012-01-01 2013-01-01     100000  0.09514  9514.0000
1  2012-04-01 2013-04-01      45000  0.09538  4292.1000
2  2012-07-01 2013-07-01      45000  0.09936  4471.2000
3  2012-10-01 2013-10-01      45000  0.09400  4230.0000
4  2013-01-01 2014-01-01      45000  0.09650  4342.5000
5  2013-04-01 2014-04-01      45000  0.09940  4473.0000
6  2013-07-01 2014-07-01      45000  0.09260  4167.0000
7  2013-10-01 2014-10-01      45000  0.08665  3899.2500
8  2014-01-01 2015-01-01      45000  0.08310  3739.5000
9  2014-04-01 2015-04-01      45000  0.08615  3876.7500
10 2014-07-01 2015-07-01      45000  0.09005  4052.2500
11 2014-10-01 2015-10-01      45000  0.09502  4275.9000
12 2015-01-01 2016-01-01      45000  0.15325  6896.2500
13 2015-04-01 2016-04-01      45000  0.13175  5928.7500
14 2015-07-01 2016-07-01      45000  0.11042  4968.9000
15 2015-10-01 2016-10-01      45000  0.10352  4658.4000
16 2016-01-01 2017-01-01      45000  0.09999  4499.5500
17 2016-04-01 2017-04-01      45000  0.09649  4342.0500
18 2016-07-01 2017-07-01      45000  0.09130  4108.5000
19 2016-10-01 2017-10-01      45000  0.08660  3897.0000
20 2017-01-01 2018-01-01      45000  0.08400  3780.0000
21 2017-04-01 2018-04-01      45000  0.07798  3509.1000
22 2017-07-01 2018-07-01      45000  0.07363  3313.3500
23 2017-10-01 2018-10-01      45000  0.07237  3256.6500
24 2018-01-01 2019-01-01      45000  0.07245  3260.2500
25 2018-04-01 2019-04-01      45000  0.06400  2880.0000
26 2018-07-01 2019-07-01      45000  0.06394  2877.3000
27 2018-10-01 2019-10-01      45000  0.06798  3059.1000
28 2019-01-01 2020-01-01      45000  0.07529  3388.0500
29 2019-04-01 2020-04-01      45000  0.07535  3390.7500
30 2019-07-01 2020-07-01      45000  0.07135  3210.7500
31 2019-10-01 2020-10-01      45000  0.06478  2915.1000
32 2020-01-01 2021-01-01      45000  0.05927  2667.1500
33 2020-04-01 2021-04-01      45000  0.05427  2442.1500
34 2020-07-01 2021-07-01      45000  0.04629  2083.0500
35 2020-10-01 2021-10-01      45000  0.04326  1946.7000
36 2021-01-01 2022-01-01      45000  0.04486  2018.7000
37 2021-04-01 2022-04-01      45000  0.04634  2085.3000
38 2021-07-01 2022-07-01      45000  0.05300  2385.0000
39 2021-10-01 2022-10-01      45000  0.06433  2894.8500
40 2022-01-01 2023-01-01      45000  0.07738  3482.1000
41 2022-04-01 2023-04-01      45000  0.16580  7461.0000
42 2022-07-01 2023-07-01      45000  0.07645  3440.2500
43 2022-10-01 2023-10-01      45000  0.06669  3001.0500
44 2023-01-01 2024-01-01      45000  0.08130  3658.5000
45 2023-04-01 2024-04-01      45000  0.07676  3454.2000
46 2023-07-01 2024-07-01      45000  0.07827  3522.1500
47 2023-10-01 2024-10-01      45000  0.10180  4581.0000
48 2024-01-01 2024-12-01      45000  0.14793  6102.1125
49 2024-04-01 2024-12-01      45000  0.14832  4449.6000
50 2024-07-01 2024-12-01      45000  0.16574  3107.6250
51 2024-09-01 2024-12-01      60000  0.17633  2644.9500
52 2024-10-01 2024-12-01      45000  0.19780  1483.5000
53 2024-11-01 2024-12-01      45000  0.20905   783.9375

# Расчёт повторных инвестиций.

In [70]:
income_new_all = []
income_calculate = []
for i, row in df_income_correct.iterrows():
    #row["end_date"]
    income_all_reinvest = []
    end_date_iter = row['end_date']
    total_money = row["principal"] + row["income"]
    while True:
        if end_date_iter < max_date:
            n_month_for_end = (max_date.year - end_date_iter.year) * 12 + (max_date.month - end_date_iter.month)
            n_month_deposit = min([12, n_month_for_end]) # Сколько месяцев вклада произошло.
            rate_in_date = df_rates.loc[df_rates.date == end_date_iter, "rate"].mean()
            new_income = (rate_in_date * total_money) * (n_month_deposit / 12)
            
            total_money += new_income
            end_date_iter = end_date_iter + pd.DateOffset(months=12)
            income_all_reinvest.append(new_income)
            income_calculate.append([row["start_date"], row['end_date'], row["principal"], rate_in_date, total_money, (n_month_deposit / 12)])
        else:
            break    
    
    income_new_all.append(income_all_reinvest)
    # break

In [ ]:
income_new_all = []
income_calculate = []
for i, row in df_income_correct.iterrows():
    #row["end_date"]
    income_all_reinvest = []
    end_date_iter = row['end_date']
    total_money = row["principal"] + row["income"]
    while True:
        if end_date_iter < max_date:
            n_month_for_end = (max_date.year - end_date_iter.year) * 12 + (max_date.month - end_date_iter.month)
            n_month_deposit = min([12, n_month_for_end]) # Сколько месяцев вклада произошло.
            rate_in_date = df_rates.loc[df_rates.date == end_date_iter, "rate"].mean()
            new_income = (rate_in_date * total_money) * (n_month_deposit / 12)
            
            total_money += new_income
            end_date_iter = end_date_iter + pd.DateOffset(months=12)
            income_all_reinvest.append(new_income)
            income_calculate.append([row["start_date"], row['end_date'], row["principal"], rate_in_date, total_money, (n_month_deposit / 12)])
        else:
            break    
    
    income_new_all.append(income_all_reinvest)
    # break

# Сумма за каждые месяцы

In [105]:
income_new_all_month = []
income_calculate_month = []
for i, row in df_income_correct.iterrows():
    #row["end_date"]
    income_all_reinvest = []
    end_date_iter = row['start_date']
    total_money = row["principal"] # + row["income"]
    while True:
        if end_date_iter < max_date:
            n_month_for_end = (max_date.year - end_date_iter.year) * 12 + (max_date.month - end_date_iter.month)
            n_month_deposit = min([12, n_month_for_end]) # Сколько месяцев вклада произошло.
            rate_in_date = df_rates.loc[df_rates.date == end_date_iter, "rate"].mean()
            new_income = (rate_in_date * total_money) * (n_month_deposit / 12)
            new_income_month = new_income / n_month_deposit
            
            for id_month in range(1, n_month_deposit+1):
                end_date_iter_month = end_date_iter + pd.DateOffset(months=id_month)
                
                
                income_calculate_month.append([row["start_date"], row['end_date'], end_date_iter, end_date_iter_month, row["principal"], rate_in_date, total_money, (n_month_deposit / 12), new_income, total_money, new_income_month])
            
            total_money += new_income
            end_date_iter = end_date_iter + pd.DateOffset(months=12)
            income_all_reinvest.append(new_income)

        else:
            break    
    
    income_new_all_month.append(income_all_reinvest)
    # break

In [106]:
columns = ["start_date", "end_date", "end_date_iter", "end_date_iter_month", "principal", "rate_in_date", "total_money", "cnt_month_dep", "new_income", "total_money", "new_income_month"]

df_income_month = pd.DataFrame(income_calculate_month, columns=columns)

In [107]:
df_income_month.to_excel('df_income_month.xlsx')

In [96]:
df_income_month.groupby("end_date_iter_month").agg({"new_income":"sum"})

                     new_income_month
end_date_iter_month
2013-02-01               8.806751e+02
2013-03-01               1.864848e+03
2013-04-01               2.961202e+03
2013-05-01               4.570989e+03
2013-06-01               6.296277e+03
...                               ...
2024-08-01               1.368645e+09
2024-09-01               1.574132e+09
2024-10-01               1.788854e+09
2024-11-01               2.041196e+09
2024-12-01               2.297588e+09

[143 rows x 1 columns]

In [71]:
df_income_new_all = pd.DataFrame(income_new_all)

In [72]:
df_income_calculate = pd.DataFrame(income_calculate)
df_income_calculate

             0          1       2        3              4         5
0   2012-01-01 2013-01-01  100000  0.09650  120082.101000  1.000000
1   2012-01-01 2013-01-01  100000  0.08310  130060.923593  1.000000
2   2012-01-01 2013-01-01  100000  0.15325  149992.760134  1.000000
3   2012-01-01 2013-01-01  100000  0.09999  164990.536220  1.000000
4   2012-01-01 2013-01-01  100000  0.08400  178849.741262  1.000000
..         ...        ...     ...      ...            ...       ...
307 2022-10-01 2023-10-01   45000  0.19780   54631.083349  0.166667
308 2023-01-01 2024-01-01   45000  0.14793   55256.714246  0.916667
309 2023-04-01 2024-04-01   45000  0.14832   53245.351296  0.666667
310 2023-07-01 2024-07-01   45000  0.16574   51873.008809  0.416667
311 2023-10-01 2024-10-01   45000  0.19780   51215.520300  0.166667

[312 rows x 6 columns]

In [57]:
i = 2
for col in list(df_income_new_all):
     col_name = "income_" + str(i)
     i += 1
     df_income_correct[col_name] = df_income_new_all[col]

In [58]:
df_income_correct[['principal', 'income', 'income_2', 'income_3']].sum().sum()

3095071.4158248147

In [59]:
df_income_correct

,start_date,end_date,principal,rate,income,income_2,income_3,income_4,income_5,income_6,income_7,income_8,income_9,income_10,income_11,income_12,income_13
0,2012-01-01,2013-01-01,100000,0.09514,9514.0000,10568.101000,9978.822593,19931.836541,14997.776086,13859.205042,12957.663754,14441.179524,12224.353606,9800.696005,17663.813811,19994.714519,36061.066063
1,2012-04-01,2013-04-01,45000,0.09538,4292.1000,4899.634740,4668.617948,7754.851467,6427.701049,5695.885748,5039.282621,6312.677844,4889.225079,4401.372111,16477.427599,8893.319661,12335.487239
2,2012-07-01,2013-07-01,45000,0.09936,4471.2000,4581.033120,4867.403592,6505.906286,5973.352076,5257.100644,4901.384366,5819.119069,4044.658146,4845.321337,7359.572292,8110.811006,7716.361457
3,2012-10-01,2013-10-01,45000,0.09400,4230.0000,4265.779500,5083.168968,6064.092745,5598.087369,5083.350476,5120.558086,5211.229506,3705.490095,5748.641811,6342.912480,10327.947064,3685.055475
4,2013-01-01,2014-01-01,45000,0.09650,4342.5000,4100.361750,8190.118563,6162.681702,5694.835609,5324.386553,5933.972630,5023.064743,4027.168401,7258.173580,8215.955525,14817.721687,NaN
5,2013-04-01,2014-04-01,45000,0.09940,4473.0000,4262.098950,7079.599287,5868.010233,5199.917606,4600.488069,5763.002651,4463.496758,4018.123492,15042.658802,8118.935585,11261.377092,NaN
6,2013-07-01,2014-07-01,45000,0.09260,4167.0000,4427.488350,5917.903404,5433.481367,4781.964638,4458.397946,5293.187918,3679.102519,4407.401886,6694.415198,7377.757064,7018.957809,NaN
7,2013-10-01,2014-10-01,45000,0.08665,3899.2500,4646.406735,5543.046385,5117.081690,4646.572647,4680.583260,4763.463900,3387.102464,5254.700010,5797.909031,9440.536621,3368.423652,NaN
8,2014-01-01,2015-01-01,45000,0.08310,3739.5000,7469.328375,5620.320749,5193.648526,4855.801690,5411.739744,4580.998398,3672.748199,6619.401350,7492.891496,13513.654069,NaN,NaN
9,2014-04-01,2015-04-01,45000,0.08615,3876.7500,6439.511812,5337.466102,4729.777703,4184.544360,5241.952566,4059.938838,3654.833084,13682.607606,7384.878648,10243.202740,NaN,NaN
10,2014-07-01,2015-07-01,45000,0.09005,4052.2500,5416.349445,4972.983129,4376.683725,4080.539947,4844.579826,3367.291341,4033.865903,6127.050337,6752.477635,6424.087323,NaN,NaN
11,2014-10-01,2015-10-01,45000,0.09502,4275.9000,5101.041168,4709.043105,4276.052682,4307.351272,4383.622969,3117.013264,4835.687674,5335.580942,8687.743635,3099.823910,NaN,NaN
12,2015-01-01,2016-01-01,45000,0.15325,6896.2500,5189.106038,4795.169907,4483.244105,4996.528247,4229.524880,3390.959468,6111.532961,6918.005259,12476.829535,NaN,NaN,NaN
13,2015-04-01,2016-04-01,45000,0.13175,5928.7500,4914.115087,4354.626620,3852.639469,4826.177384,3737.917266,3364.943225,12597.346229,6799.133313,9430.744133,NaN,NaN,NaN
14,2015-07-01,2016-07-01,45000,0.11042,4968.9000,4562.160570,4015.121990,3743.442913,4444.364777,3089.116409,3700.624653,5620.889259,6194.649452,5893.387756,NaN,NaN,NaN
15,2015-10-01,2016-10-01,45000,0.10352,4658.4000,4300.417440,3904.999618,3933.582284,4003.235529,2846.535465,4416.072468,4872.587663,7933.867541,2830.837711,NaN,NaN,NaN
16,2016-01-01,2017-01-01,45000,0.09999,4499.5500,4157.962200,3887.486759,4332.562972,3667.483096,2940.350720,5299.399923,5998.703888,10818.841999,NaN,NaN,NaN,NaN
17,2016-04-01,2017-04-01,45000,0.09649,4342.0500,3847.693059,3404.143556,4264.349356,3302.776466,2973.221316,11130.855956,6007.628286,8332.886355,NaN,NaN,NaN,NaN
18,2016-07-01,2017-07-01,45000,0.09130,4108.5000,3615.858855,3371.195505,4002.417804,2781.935131,3332.635087,5061.948865,5578.654430,5307.350152,NaN,NaN,NaN,NaN
19,2016-10-01,2017-10-01,45000,0.08660,3897.0000,3538.675890,3564.577247,3627.696398,2579.505097,4001.805556,4415.495562,7189.600135,2565.279932,NaN,NaN,NaN,NaN
20,2017-01-01,2018-01-01,45000,0.08400,3780.0000,3534.111000,3938.729417,3334.105852,2673.070410,4817.680091,5453.416747,9835.400321,NaN,NaN,NaN,NaN,NaN
21,2017-04-01,2018-04-01,45000,0.07798,3509.1000,3104.582400,3889.090969,3012.135511,2711.580877,10151.352002,5478.963133,7599.600868,NaN,NaN,NaN,NaN,NaN
22,2017-07-01,2018-07-01,45000,0.07363,3313.3500,3089.155599,3667.568774,2549.193743,3053.821210,4638.457679,5111.934784,4863.328280,NaN,NaN,NaN,NaN,NaN
23,2017-10-01,2018-10-01,45000,0.07237,3256.6500,3280.487067,3338.575739,2373.923336,3682.869093,4063.588774,6616.602370,2360.831891,NaN,NaN,NaN,NaN,NaN
24,2018-01-01,2019-01-01,45000,0.07245,3260.2500,3633.514222,3075.743405,2465.932112,4444.354327,5030.827258,9073.247528,NaN,NaN,NaN,NaN,NaN,NaN
25,2018-04-01,2019-04-01,45000,0.06400,2880.0000,3607.758000,2794.240627,2515.427816,9417.013304,5082.620395,7049.853307,NaN,NaN,NaN,NaN,NaN,NaN
26,2018-07-01,2019-07-01,45000,0.06394,2877.3000,3416.045355,2374.368956,2844.388859,4320.350287,4761.356132,4529.799167,NaN,NaN,NaN,NaN,NaN,NaN
27,2018-10-01,2019-10-01,45000,0.06798,3059.1000,3113.268498,2213.716661,3434.326858,3789.353277,6170.074107,2201.508706,NaN,NaN,NaN,NaN,NaN,NaN
28,2019-01-01,2020-01-01,45000,0.07529,3388.0500,2867.959724,2299.344596,4144.113317,4690.966719,8460.298875,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2019-04-01,2020-04-01,45000,0.07535,3390.7500,2626.166003,2364.123888,8850.576414,4776.898867,6625.801980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2019-07-01,2020-07-01,45000,0.07135,3210.7500,2231.675618,2673.448558,4060.708581,4475.211132,4257.570133,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2019-10-01,2020-10-01,45000,0.06478,2915.1000,2072.807226,3215.722072,3548.150038,5777.331136,2061.376342,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2020-01-01,2021-01-01,45000,0.05927,2667.1500,2138.348349,3853.949462,4362.513107,7867.922955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2020-04-01,2021-04-01,45000,0.05427,2442.1500,2198.469231,8230.414668,4442.180562,6161.530646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2020-07-01,2021-07-01,45000,0.04629,2083.0500,2495.401650,3790.272629,4177.170049,3974.023552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2020-10-01,2021-10-01,45000,0.04326,1946.7000,3020.081211,3332.284639,5425.844904,1935.964558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2021-01-01,2022-01-01,45000,0.04486,2018.7000,3638.307006,4118.414670,7427.684118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2021-04-01,2022-04-01,45000,0.04634,2085.3000,7806.742740,4213.513201,5844.357371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2021-07-01,2022-07-01,45000,0.05300,2385.0000,3622.583250,3992.363541,3798.204659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2021-10-01,2022-10-01,45000,0.06433,2894.8500,3194.107546,5200.855878,1855.687516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,2022-01-01,2023-01-01,45000,0.07738,3482.1000,3941.594730,7108.784065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2022-04-01,2023-04-01,45000,0.16580,7461.0000,4026.906360,5585.524181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,2022-07-01,2023-07-01,45000,0.07645,3440.2500,3791.418368,3607.031965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2022-10-01,2023-10-01,45000,0.06669,3001.0500,4886.506890,1743.526459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2023-01-01,2024-01-01,45000,0.08130,3658.5000,6598.214246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,2023-04-01,2024-04-01,45000,0.07676,3454.2000,4791.151296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,2023-07-01,2024-07-01,45000,0.07827,3522.1500,3350.858809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2023-10-01,2024-10-01,45000,0.10180,4581.0000,1634.520300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,2024-01-01,2024-12-01,45000,0.14793,6102.1125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,2024-04-01,2024-12-01,45000,0.14832,4449.6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,2024-07-01,2024-12-01,45000,0.16574,3107.6250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,2024-09-01,2024-12-01,60000,0.17633,2644.9500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,2024-10-01,2024-12-01,45000,0.19780,1483.5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,2024-11-01,2024-12-01,45000,0.20905,783.9375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
df_income_correct.to_excel("Итоги прибылей.xlsx")

In [61]:
df_income[["principal", "income"]].sum().sum()

2734274.0

In [62]:
df_investments['amount'].sum()

2500000

In [63]:
# Ошибки
# Сумма вкладов. 
# Исправить дату окончания.